<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Test正则表达式.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5ACF9FAB1C9BD9EA00A12742</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5ACF9FC41C9BD9EB00A12742</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5ACF9FCF1C9BD9EB00A12742</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
